.compose{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title{
  margin-top: 5%;
}
.edit{
  margin-bottom: 2%;

}
.button-container{
  display: flex;
  margin-bottom: 2%;
}

/*  ---------------Input Areas --------------------*/
.title{
  width: 90%;
}


.compose-container input{
  height: 42px;
  width: 100%;
}
.brief, .story{
  width: 90%;
}

.brief textarea, .story textarea{
  font-weight: 800;
  font-size: 15px;
}

.hide-input{
  display: none;
}

/*-------------- Upload button ------------------- */
.material-icons.upload{
  font-size: 35px;
  padding: 5px;
  background-color: #0067A5;
  color: #E8E0D6;
  cursor: pointer;
  border-radius: 10px;
}
.material-icons.upload:hover{
background-color: #1c39BB;
}
