* {
  font-size: 16px;
  /* font-weight: 600; */
}

/* .container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #d9905830;
} */

/*
.feed{
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* remember-to-post */
.remember-to-post-container{
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-content: center;
}

/* title */
.title{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}



/* transfer-box */
.transfer-box-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2%;

  /* height: 100%; */
  background-color: rgba(var(--persian-orange-rgb), 0.38);
  overflow-y: scroll;
}

.item-transfer{
  margin-bottom: 2%;
}



.remember-box.modified{
  min-height: auto;
  min-width: auto;
  background-color: initial;
  margin-bottom: 1%;
}
.remember-box p{
  margin-top: 1ch;
  margin-left: 2ch;
}


.item-to-paragraph{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}


/* Buttons */
.button-container{
  margin: 2% 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
