/* Main css file for basic structure */
/* The Website's functionality is based on 3 vertical pages
  1. sidebar
  2. feed
  3. widgets

   CSS layout is mostly based on the flexbox as a Major!
  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: Prompt;
  --persian-white: #E8E0D6;
  --persian-orange: #D99058;
  --persian-blue-medium: #0067A5;
  --Persian-blue-proper: #1c39BB;
  --persian-white-rgb: 232, 224, 214;
  --persian-orange-rgb: 217, 144, 88;
  --persian-blue-medium-rgb: 0, 103, 165;
  --Persian-blue-proper-rgb: 28, 57, 187;
  /* Makes nav-bar width to be enough we need */
  height: 100vh;
  /* Because of Sticky navbar*/
  display: flex;
  align-items: flex-start;
  justify-content: center;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1px;
  /* Persian white color */
  background-color: rgba(var(--persian-white-rgb), 0.38);
}

/* ---------------- Basic structure ---------- */

.container{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
}

.sidebar, .widgets {
  position: sticky;
  top: 0;
}

.feed {
  background-color: rgba(var(--persian-orange-rgb), 0.14);
  width: 100%;
  z-index: 100;
}

/* ----------- sidebar ---------------------- */
.sidebarOption {
  display: flex;
  /* puts icon and h2 by eachother */
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-icons, .fa-twitter {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  /* 0.6 */
  background-color: rgba(var(--persian-white-rgb), 0.6);
  border-radius: 30px;
  color: var(--persian-blue-medium);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--persian-blue-medium);
}

.sidebar-tweet {
  width: 100%;
  background-color: var(--persian-blue-medium);
  color: var(--persian-white);
  border: none;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

.sidebar-tweet:hover {
  background-color: var(--Persian-blue-proper);
}

.sidebar {
  flex: 0.2;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--persian-blue-medium);
  font-size: 30px;
  transition: 0.5s;
}

.fa-twitter:hover {
  color: var(--Persian-blue-proper);
}

/* --------------Feed  ---------------------*/
.feed {
  border-right: 1px solid black;
  border-left: 1px solid black;
  min-width: fit-content;
  overflow-y: scroll;
}

.feed-header {
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid black;
  padding: 15px 20px;
}

.feed_header h2 {
  font-size: 20px;
  font-weight: 800;
}

/* Hide scroll bar */
.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* finish hid scroll bar */


/* ------------- widgets ------------- */
.widgets-input {
  background-color: var(--persian-blue-medium);
  color: var(--persian-white);
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
  margin-left: 20px;
}

.widgets-input input {
  border: none;
  background-color: var(--persian-blue-medium);
  color: var(--persian-white);
  outline: none;
}

.widgets-input.active {
  background-color: var(--Persian-blue-proper);
}

input::placeholder {
  color: var(--persian-white);
}

.widgets-serach-icon {
  color: var(--persian-white);
}

.widgets-widget-container {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: rgba(var(--persian-white-rgb), 0.5);
  border-radius: 20px;
}

.widgets-widget-container h2 {
  font-size: 18px;
  font-weight: 800;
}
