
.container{
display: flex;
justify-content: space-between;
width: 100%;
height: 100%;

}


.to-remember-container{
  background-color: #d9905830;

  width: 100%;
  height: 100%;
  border: 1px solid black;
  /* children positioning */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


/* -------------------- Title ------------------------ */
.title{

  width: 60%;
}

.title input{
  height: 42px;
  width: 100%;
  text-align: center;
  /* - Colouring - */
  /*Medium Persian Blue*/
  background-color: #0067A590;
  color: #E8E0D6;
  /* - UI - */
  /*font*/
  font-size: 18px;
  font-weight: 800;
  /*font-family: ---- ; */
  /*sizing*/
  border: none;
  border-radius: 10px;
  padding: 1ch;
}

.title input:focus{
  outline: none;
  outline-color: #E8E0D6;
  background-color: #0067A5b0;
}


/* ----------------------Remember Box -------------------- */
.remember-box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 60%;
    min-height: 300px;
    border-radius: 10px;
    background-color: #d9905840;

}
.item.first-item{
  margin-top: 2%;
}

.item{
  margin-left: 2%;
}

.item h3{
  display: inline-block;
}
/*--------- Checkbox ---------- */
.item input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.item label {
  position: relative;
  cursor: pointer;
  font-weight: 800;
  font-size: 16px;
}

.item label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0067A5;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.item input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0067A5;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/*--------- Checkbox Finished ---------- */
/* Description */
.item p{

  text-indent: 2ch;
  margin: 1ch 2ch 2ch 2ch;

  font-weight: 500;
  font-size: 16px;
}

/* ----------------------- Add Box ----------------------- */

.add-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container{
  width: 60%;
}
.form-container input{
  height: 35px;
  width: 100%;


  /* - Colouring - */
  /*Medium Persian Blue*/
  background-color: #0067A590;
  color: #E8E0D6;
  /* - UI - */
  /*font*/
  font-size: 18px;
  font-weight: 800;
  /*font-family: ---- ; */
  /*sizing*/
  border: none;
  border-radius: 10px;
  padding: calc(1ch + 2px);
}

.form-container input:focus{
  outline: none;
  outline-color: #E8E0D6;
  background-color: #0067A5b0;
}

.form-input{
  margin-right: 5%;
}

.form-input > input{
  margin-bottom: 3%;
}

.form-submit > button{
  width: 45px;
  height: 45px;

  border-radius: 50%;
  font-size: 30px;
}

#subtitle{
  font-size: 17px;
  font-weight: 700;
  max-width: 100%;
}

#description{
  font-size: 16px;
  font-weight: 600;
  max-width: 100%;
}



/* ------------ Buttons-------------- */

/* Buttons */
.button-container{
  display: flex;
  margin-bottom: 2%;
}

.defined-button {
  /* - Colouring - */
  /*Medium Persian Blue*/
  background-color: #0067A5;
  /*Persian White*/
  color: #E8E0D6;
  /* - UI - */
  /*  font  */
  font-size: 12px;
  font-weight: 800;
  /*font-family: ---- ; */
  /*sizing*/
  border: none;

  height: 42px;
  width: calc(2*22px + 6ch);
  border-radius: 10px;
  margin-right: 5%;
}

.defined-button:hover {
  /*Persina Blue Proper*/
  background-color: #1c39BB;
}
